<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            display: flex;
            flex-direction: column;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            display: flex;
            flex-direction: column;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        /* Change the link color to #111 (black) on hover */
        li a:hover {
            background-color: #111;
        }

        .form {
            align-self: center;
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .input-group {
            width: 50%;
            margin: 8px 0px;
        }

        input,
        button {
            padding: 4px;
            margin-top: 4px;
        }

        .button-save {
            width: 50%;
        }
    </style>

    <title>Document</title>
</head>

<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/form-create-users">Create User</a></li>

    </ul>
    <div class="form">

        <form method="post" action="/edit-user/<%= User.id %>">
            <div class="input-group">
                <label for="">Email:</label>
                <input type="text" name="Email" value="<%=User.email %> " />
            </div>
            <div class="input-group">
                <label for="">Name:</label>
                <input type="text" name="Name" value="<%=User.name %>" />
            </div>
            <div class="input-group">
                <label for="">City:</label>
                <input type="text" name="City" value="<%=User.city %>" />
            </div>
            <div class="button-save"><button type="submit">Save</button></div>
        </form>
    </div>
</body>

</html>